{% extends 'blog/base.html' %}
  	{% block contenido %}
  	<section class="container">
  		<div class="row">
  			<div class="col-md-8 col-md-offset-2 bg-success">
			    <p class="">
			    	published: {{ post.published_date }}
			    </p>
		        <h2 class="txt-verde">
		        	{{ post.title }}
		        </h2>
		        <p class="text-justify">
		        	{{ post.text|linebreaks }}
		        </p>
  			</div>
  		</div>
  		{% if user.is_authenticated %}
  		<div class="row">
  			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  			<hr>
  		</div>
  		{% endif %}
  	</section>
  	{% endblock %} 
