{% extends 'blog/base.html' %}
  	{% block contenido %}
  	<section class="container">
  		<div class="row">
  			<div class="col-md-8 col-md-offset-2 bg-success">
			    <p class="">
			    	published: {{ post.published_date }}
			    </p>
		        <h2 class="txt-verde">
		        	{{ post.title }}
		        </h2>
		        <p class="text-justify">
		        	{{ post.text|linebreaks }}
		        </p>
  			</div>
  		</div>
  		<div class="row">
  			<hr>
  		</div>
  	</section>
  	{% endblock %} 
